<%= form_for @post, class: "form-horizontal" do |f| %>

<% if @post.errors.any? %>
<% @post.errors.full_messages.each do |error| %>
  <%= js add_gritter(error, title: "Overtime App Notification", sticky: false) %>
  <% end %>
<% end %>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :overtime_request, class:"col-sm-2 control-label"  %>
      <%= f.number_field :overtime_request, class:"form-control" %>
    </div>
  </div>

  <!-- HTML5 dosen't work correctly with date_field on all browser, hence date_select is used TODO find a more user friendly way for this. Also this makes for bigger test in spec -->
  <div class="form-group row">
    <div class="col-xs-2">
      <%= f.label :date, class:"col-sm-2 control-label"  %>
      <%= f.date_select :date,{ date_format: 'YYYY/MM/DD' }, class:"form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-sm-2">
      <%= f.label :rationale, class:"col-sm-2 control-label"  %>
      <%= f.text_area :rationale, class:"form-control" %>
    </div>
  </div>

  <%= render partial: 'status', locals: { f: f } if current_user.type == 'AdminUser' %> <!-- TODO refactor hardcode AdminUser with pundit gem -->

  <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>

<% end %>
